<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta content="text/html; charset=utf-8" http-equiv="content-type" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="X-UA-Compatible" content="IE=9">
	<meta http-equiv="X-UA-Compatible" content="IE=11">
	<title>JAWS Monitoring - Dashboard</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<!-- Icon Files -->

	<!-- Scripts -->
	<script src="scripts/jquery-3.3.1.slim.min.js"></script>
	<script src="scripts/popper.min.js"></script>
	<script src="scripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="scripts/scripts.js"></script>
</head>

<body>
	<div class="main-wrapper">
		<header>
			<nav>
				<ul>
					<li class="dashboard active"><span class="NeueBoardsFocused"></span>Dashboard</li>
					<!--<li class="alerts"><span class="NeueNotificationFocused"></span>Alerts</li>-->
					<li class="history"><span class="NeueHistory"></span>History</li>
				</ul>
			</nav>
		</header>
		<!-- Dashboard Section -->
		<section class="dashboard-wrapper">
			<div class="status-indicator">
				<ul>
					<li class="mar-rgt"><span class="critical rounded-circle "></span>Critical</li>
					<li><span class="warning rounded-circle"></span>Warning</li>
				</ul>
			</div>
			<!-- Dashboard Content Starts -->
			<div class="dashboard-main">
				<!-- Top Row Starts -->
				<div class="top-row" >
					<div class="component rounded pad-all-10">
						<div class="info-main">
							<h3>Heat</h3>
							<!-- Bell Icon -->
							<div (click)="open($event)" class="NeueNotificationFocused"></div>
							<div class="alerts-silence" *ngFor="let obj of obj_top_row;" [ngClass]="{'critical': obj.value.alertType=='R' && obj.key == '1','warning': obj.value.alertType=='Y' && obj.key == '1'}">
										<h5><span>{{obj.value.silenceAlerts}}</span> Alerts Silenced</h5>
              </div>
						</div>
						<div class="ackngmnt-main" *ngFor="let obj of obj_top_row;" [ngClass]="{'critical': obj.value.alertType=='R' && obj.key == '1','warning': obj.value.alertType=='Y' && obj.key == '1'}">
									<p><span>{{obj.value.ackAlerts}}/{{obj.value.totalAlerts}}</span> Alerts Acknowledged</p>
            </div>
					</div>
					<div class="hori-lines-bg"></div>
				</div>
				<!-- Top Row Ends -->
				<!-- Middle Row Starts -->
				<div class="middle-row" *ngFor="let obj of obj_middle_row;let i = index">
					<!-- Openstack Section starts -->
					<div class="openstack-main">
						<!-- Legend Title -->
						<h4>OpenStack Components</h4>

						<div class="openstack-row">
							<div class="component">
								<div class="info-main">
									<h3>Nova</h3>
									<!-- Bell Icon -->
									<a href="javascript:void(0)" class="NeueNotificationFocused" title="Silence this alert"></a>
									<div class="alerts-silence">
										<h5><span>02</span> Alerts Silenced</h5>
									</div>
								</div>
                <div class="ackngmnt-main">
									<p><span>12/18</span> Alerts Acknowledged</p>
								</div>
							</div>

							<div class="component rounded critical">
								<div class="info-main">
									<h3>Neutron</h3>
									<!-- Bell Icon -->
									<a href="javascript:void(0)" class="NeueNoNotification" title="Enable this alert"></a>
									<div class="alerts-silence">
										<h5><span>02</span> Alerts Silenced</h5>
									</div>
								</div>
								<div class="ackngmnt-main">
									<p><span>12/18</span> Alerts Acknowledged</p>
								</div>
							</div>

							<div class="component rounded warning">
								<div class="info-main">
									<h3>Cinder</h3>
									<!-- Bell Icon -->
									<a href="javascript:void(0)" class="NeueNotificationFocused" title="Silence this alert"></a>
									<div class="alerts-silence">
										<h5><span>02</span> Alerts Silenced</h5>
									</div>
								</div>
								<div class="ackngmnt-main">
									<p><span>12/18</span> Alerts Acknowledged</p>
								</div>
							</div>
						</div>
						<!-- Openstanck Second Row starts -->
						<div class="openstack-row">
							<div class="component rounded float-left">
								<div class="info-main">
									<h3>Keystone</h3>
									<!-- Bell Icon -->
									<a href="javascript:void(0)" class="NeueNotificationFocused" title="Silence this alert"></a>
                  <div class="alerts-silence">
										<h5><span>02</span> Alerts Silenced</h5>
									</div>
								</div>
                <div class="ackngmnt-main">
									<p><span>12/18</span> Alerts Acknowledged</p>
								</div>
							</div>
							<div class="component rounded float-left">
								<div class="info-main">
									<h3>Glance</h3>
									<!-- Bell Icon -->
									<a href="javascript:void(0)" class="NeueNotificationFocused" title="Silence this alert"></a>
                  <div class="alerts-silence">
										<h5><span>02</span> Alerts Silenced</h5>
									</div>
								</div>
                <div class="ackngmnt-main">
									<p><span>{{obj.value.ackAlerts}}/{{obj.value.totalAlerts}}</span> Alerts Acknowledged</p>
								</div>
							</div>
						</div>
						<!-- Openstanck Second Row ends -->

					</div>
					<!-- Openstack Section ends -->

					<!-- Column Two - Horizon Ceph Section starts -->
					<div class="col2-horizon-ceph">
						<div class="component rounded float-left">
							<div class="info-main">
								<h3>Horizon</h3>
								<!-- Bell Icon -->
								<a href="javascript:void(0)" class="NeueNotificationFocused" title="Silence this alert"></a>
                <div class="alerts-silence">
										<h5><span>02</span> Alerts Silenced</h5>
									</div>
							</div>
              <div class="ackngmnt-main">
									<p><span>12/18</span> Alerts Acknowledged</p>
								</div>
						</div>

						<div class="component rounded float-left pad-all-10">
							<div class="info-main">
								<h3>Ceph</h3>
								<!-- Bell Icon -->
								<a href="javascript:void(0)" class="NeueNotificationFocused" title="Silence this alert"></a>
                <div class="alerts-silence">
										<h5><span>{{obj.value.silenceAlerts}}</span> Alerts Silenced</h5>
									</div>
							</div>
              <div class="ackngmnt-main" [ngClass]="{'critical': obj.value.alertType=='R','warning': obj.value.alertType=='Y'}" *ngIf="obj.key == '6'">
									<p><span>{{obj.value.ackAlerts}}/{{obj.value.totalAlerts}}</span> Alerts Acknowledged</p>
								</div>
						</div>
					</div>
					<!-- Column Two - Horizon Ceph Section ends -->
				</div>
				<!-- Middle Row Ends -->

				<!-- Bottom Row Starts -->
				<div class="bottom-row">
					<!-- System section starts -->
					<div class="system-main">
						<!-- System Left Section starts -->
						<div class="system-left">
							<h4>System</h4>
							<div class="component rounded float-left pad-all-10">
								<div class="info-main">
									<h3>System</h3>
									<!-- Bell Icon -->
									<a href="javascript:void(0)" class="NeueNotificationFocused" title="Silence this alert"></a>
                  <div class="alerts-silence">
										<h5><span>02</span> Alerts Silenced</h5>
									</div>
								</div>
                <div class="ackngmnt-main">
									<p><span>12/18</span> Alerts Acknowledged</p>
								</div>
							</div>
							<div class="component rounded float-left pad-all-10">
								<div class="info-main">
									<h3>My SQL</h3>
									<!-- Bell Icon -->
									<a href="javascript:void(0)" class="NeueNotificationFocused" title="Silence this alert"></a>
                  <div class="alerts-silence">
										<h5><span>02</span> Alerts Silenced</h5>
									</div>
								</div>
                <div class="ackngmnt-main">
									<p><span>12/18</span> Alerts Acknowledged</p>
								</div>
							</div>
							<div class="component rounded float-left pad-all-10">
								<div class="info-main">
									<h3>Rabbit MQ</h3>
									<!-- Bell Icon -->
									<a href="javascript:void(0)" class="NeueNotificationFocused" title="Silence this alert"></a>
                  <div class="alerts-silence">
										<h5><span>02</span> Alerts Silenced</h5>
									</div>
								</div>
                <div class="ackngmnt-main">
									<p><span>12/18</span> Alerts Acknowledged</p>
								</div>
							</div>
						</div>
						<!-- System left section ends -->

						<!-- Column 2 section starts -->
						<div class="col2">
							<div class="component rounded float-left pad-all-10">
								<div class="info-main">
									<h3>Contrail</h3>
									<!-- Bell Icon -->
									<a href="javascript:void(0)" class="NeueNotificationFocused" title="Silence this alert"></a>
                  <div class="alerts-silence">
										<h5><span>02</span> Alerts Silenced</h5>
									</div>
								</div>
                <div class="ackngmnt-main">
									<p><span>12/18</span> Alerts Acknowledged</p>
								</div>
							</div>
						</div>
						<!-- Column 2 section ends -->
					</div>

					<!-- System section ends -->
					<!-- Column 3 section ends -->
					<div class="col3">
						<div class="component rounded float-left pad-all-10">
							<div class="info-main">
								<h3>Ha Proxy</h3>
								<!-- Bell Icon -->
								<a href="javascript:void(0)" class="NeueNotificationFocused" title="Silence this alert"></a>
                <div class="alerts-silence">
										<h5><span>02</span> Alerts Silenced</h5>
									</div>
							</div>
              <div class="ackngmnt-main">
									<p><span>12/18</span> Alerts Acknowledged</p>
								</div>
						</div>

						<div class="component rounded float-left pad-all-10">
							<div class="info-main">
								<h3>Keepalive D</h3>
								<!-- Bell Icon -->
								<a href="javascript:void(0)" class="NeueNotificationFocused" title="Silence this alert"></a>
                <div class="alerts-silence">
										<h5><span>02</span> Alerts Silenced</h5>
									</div>
							</div>
              <div class="ackngmnt-main">
									<p><span>12/18</span> Alerts Acknowledged</p>
								</div>
						</div>
					</div>
					<!-- Column 3 section ends -->
				</div>
				<!-- Bottom Row Ends -->
			</div>
			<!-- Dashboard Content Ends -->
		</section>
	</div>
</body>

</html>
